@import "node_modules/sass-mq/mq";

$global-spacing-unit: 1.5rem !default;
$global-fragment-identifier: \. !default;
$global-breakpoint-separator: \@ !default;

$huoban-grid-gutter: $global-spacing-unit !default;

@import "utilities/spacings";
@import "utilities/grid";
